
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>404 - Best-Cloud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Best-Cloud好用的个人云盘" />
	<link rel="stylesheet" th:href="@{res/layui/css/layui.css}" />
	<link rel="stylesheet" th:href="@{res/css/global.css}" />
</head>
<body>

	<div class="header">
		<div class="main">
			<a class="logo" href="/" title="Fly">Fly社区</a>
			<div class="nav">
				<a class="nav-this" href="jie/index.html"> <i
					class="iconfont icon-wenda"></i>问答
				</a> <a href="http://www.layui.com/" target="_blank"> <i
					class="iconfont icon-ui"></i>框架
				</a>
			</div>

			<div class="nav-user"></div>
		</div>
	</div>

	<div class="main">
		<div class="fly-none">
			<h2>
				<i class="iconfont icon-404"></i>
			</h2>
			<p>
				页面或者数据被<a href="#"> 外星人 </a>运到外星了，啥都看不到了…
			</p>
		</div>
	</div>



	<div class="footer">
		<p>
			<a href="http://fly.layui.com/">Best-Cloud</a> 2016 &copy; <a
				href="http://www.layui.com/">bestcloud.com</a>
		</p>
		<p>
			<a href="http://fly.layui.com/auth/get" target="_blank">产品授权</a> <a
				href="http://fly.layui.com/jie/3147.html" target="_blank">VIP说明</a>
			<a href="http://www.layui.com/" target="_blank">商务合作</a> <a
				href="http://weibo.com/SentsinXu" target="_blank" rel="nofollow">微博</a>
			<a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a>
		</p>
	</div>
	<script th:src="@{res/layui/layui.js}"></script>

</body>
</html>